        /* Стили */
        @font-face {
            font-family: 'Minecrafter';
            src: url('fonts/4482-font.ttf') format('truetype');
        }

        @font-face {
            font-family: 'Minecrafte';
            src: url('fonts/minecraft.ttf') format('truetype');
        }

        body {
            font-family: 'Minecrafte', Arial, sans-serif;
            background: url('icons/background.png') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            color: #fff;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            position: relative;
            transition: all 0.3s ease;
        }

        .title-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #000;
            color: #fff;
            padding: 10px 20px;
            -webkit-app-region: drag;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            transition: all 0.3s ease;
        }

        .title-bar-controls {
            -webkit-app-region: no-drag;
        }

        .close-button {
            background: none;
            border: none;
            width: 25px;
            height: 25px;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .close-button:hover {
            background: #424242;
            border: none;
            width: 25px;
            height: 25px;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .close-button img {
            margin: -1px;
        }

        .container {
            width: 500px;
            padding: 20px;
            background: rgba(51, 51, 51, 0.5);
            backdrop-filter: blur(10px);
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
            transition: all 0.3s ease;
        }

        .title {
            text-align: center;
            transition: all 0.3s ease;
        }

        .input-field,
        .slider,
        select {
            width: 80%;
            margin-bottom: 10px;
            transition: all 0.3s ease;
        }

        .input-field input {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            transition: all 0.3s ease;
            font-family: 'Minecrafte', Arial, sans-serif;
        }

        .slider input {
            width: 100%;
            transition: all 0.3s ease;
        }

        .button {
            padding: 10px 20px;
            background: #4CAF50;
            border: none;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
            font-family: 'Minecrafte', Arial, sans-serif;
        }

        .button:hover {
            padding: 10px 20px;
            background: #2c702e;
            border: none;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .title-bar-img img {
            width: 25px;
            height: 25px;
            position: absolute;
            top: 10px;
        }

        .toggle-login {
            margin-top: 20px;
            text-align: center;
            cursor: pointer;
            text-decoration: underline;
            transition: all 0.3s ease;
            font-family: 'Minecrafte', Arial, sans-serif;
        }

        .progress-bar {
            width: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            border-radius: 5px;
            margin: 10px 0;
            position: relative;
            transition: all 0.3s ease;
        }

        .progress-bar div {
            height: 20px;
            background-color: #3390FF;
            width: 0;
            border-radius: 5px;
            transition: all 0.3s ease;
        }

        .progress-bar span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-weight: bold;
            transition: all 0.3s ease;
            font-family: 'Minecrafte', Arial, sans-serif;
        }

        input:focus {
            outline: none;
        }

        select {
            font-family: 'Minecrafte', Arial, sans-serif;
            background-color: rgba(51, 51, 51, 0.8); 
            color: white;
            padding: 10px;
            border: none;
            border-radius: 4px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
            width: calc(100% - 20px); 
            margin-bottom: 10px;
            outline: none; 
            appearance: none; 
            -webkit-appearance: none;
            -moz-appearance: none;
            cursor: pointer;
            font-size: 16px;
            background-image: url('icons/dropdown-arrow.png'), linear-gradient(to bottom, #333, #333); /* Изображение стрелки */
            background-repeat: no-repeat, repeat;
            background-position: right 10px center, 0 0;
            background-size: 15px, auto;
        }

        select:hover {
            background-color: rgba(51, 51, 51, 0.9);
        }


        select::-ms-expand {
            display: none;
        }

        select:focus {
            border-color: #80bdff;
            box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
        }


        select:hover {
            background-color: #40444b;
        }

        select:focus {
            outline: none;
            border-color: #80bdff;
            box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
        }
        select::-webkit-scrollbar {
            width: 8px; 
        }

        select::-webkit-scrollbar-track {
            background: #2c2f33;
            border-radius: 4px; 
        }

        select::-webkit-scrollbar-thumb {
            background: #555; 
            border-radius: 4px;
        }

        select::-webkit-scrollbar-thumb:hover {
            background: #777; 
        }


        body::-webkit-scrollbar {
            width: 8px;
        }

        body::-webkit-scrollbar-track {
            background: #2c2f33;
        }

        body::-webkit-scrollbar-thumb {
            background: #555;
        }

        body::-webkit-scrollbar-thumb:hover {
            background: #777;
        }

        body {
            scrollbar-width: thin;
            scrollbar-color: #555 #2c2f33;
        }

        .modal {
            display: none;
            position: fixed; 
            z-index: 1; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%;
            overflow: auto; 
            background-color: rgb(0,0,0); 
            background-color: rgba(0,0,0,0.4); 
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; 
            padding: 20px;
            border: 1px solid #888;
            width: 80%; 
            border-radius: 8px; 
        }

        .modal .button {
            font-family: 'Minecrafter', Arial, sans-serif;
            margin-top: 10px; 
            width: auto; 
        }